@model UserServiceModel
@{
    ViewData["Title"] = $"{Model.UserName}";
}
<h2>@ViewData["Title"]</h2>
<div>
    <span>@Model.PhoneNumber</span>
    <ul>
        @foreach (var camera in Model.Cameras)
            {
            <li>@camera.Make</li>
            <li>@camera.Model</li>
            <li>@camera.Price.ToString("F2")</li>
            <li>@camera.Quantity</li>
            <li>@camera.ImageURL</li>
        }
    </ul>
</div>