@model IEnumerable<CameraServiceModel>
@{
    ViewData["Title"] = "All Cameras";
}
<h2>@ViewData["Title"]</h2>

<table class="table table-bordered table-hover">
<thead>
    <tr>
        <th>Make</th>
        <th>Model</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Image</th>
    </tr>
</thead>
<tbody>
    @foreach (var camera in Model)
    {
        
        <tr>
            <td>@camera.Make</td>
            <td>@camera.Model</td>
            <td>@camera.Price.ToString("F2")</td>
            <td>@camera.Quantity</td>
            <td><img src="@camera.ImageURL" style="height:50px; width:50px;"/></td>
            <td>
                <a class="btn btn-info btn-sm" href="/cameras/edit/@camera.Id">Edit</a>
            </td>
            <td>
                <a class="btn btn-danger btn-sm" href="/cameras/details/@camera.Id">Details</a>
            </td>
        </tr>
    }
</tbody>
</table>
